<div class="row">
    <div class="col-lg-6 col-*-12 colonna" *ngFor="let element of pro">
        <mat-card [ngClass]="{'bg-warning': element.operatore === 'Difensore', 'bg-primary': element.operatore === 'Attaccante'}">
            <mat-card-content>
                <div class="immagini">
                    <img class="img-fluid" [src]="element.img" alt="img">
                </div>
                <div class="info">
                    <p>{{element.nickname}}</p>
                </div>
                <div class="info">
                    <p>{{element.eta}}</p>
                </div>
                <div class="info">
                    <p>{{element.operatore}}</p>
                </div>
                <div [ngSwitch]="element.nazione">
                    <p *SwitchCase="'Usa'">Usa</p><span class="badge" *SwitchCase="'Usa'"><img class="img-fluid" src="../../assets/img/usa.png" alt=""></span>
                </div>
                <div class="bottone">
                    <button (click)="onClick(element.news)">
                        News
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-6 col-*-12 colonna"  *ngFor="let element of pro2">
        <mat-card [ngClass]="{'bg-warning': element.operatore === 'Difensore', 'bg-primary': element.operatore === 'Attaccante'}">
            <mat-card-content>
                <div class="immagini">
                    <img class="img-fluid" [src]="element.img" alt="img">
                </div>
                <div class="info">
                    <p>{{element.nickname}}</p>
                </div>
                <div class="info">
                    <p>{{element.eta}}</p>
                </div>
                <div class="info">
                    <p>{{element.operatore}}</p>
                </div>
                <div>

                </div>
                <div class="bottone">
                    <button (click)="onClick(element.news)">
                        News
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>


