<div class="row">
    <div class="col-lg-6 col-*-12 colonna" *ngFor="let element of pro">
        <mat-card [ngClass]="{'bg-warning': element.operatore === 'Difensore', 'bg-primary': element.operatore === 'Attaccante'}">
            <mat-card-content>
                <div class="immagini">
                    <img class="img-fluid" [src]="element.img" alt="img">
                </div>
                <div class="info">
                    <p>{{element.nickname}}</p>
                </div>
                <div class="info">
                    <p>{{element.eta}}</p>
                </div>
                <div class="info">
                    <p>{{element.operatore}}</p>
                </div>
                <div [ngSwitch]="element.nazione">
                    <p *ngSwitchCase="'Usa'"></p><span class="badge" *ngSwitchCase="'Usa'"><img class="img-fluid" src="../../assets/img/usa.png" alt=""></span>
                    <p *ngSwitchCase="'Brasil'"></p><span class="badge" *ngSwitchCase="'Brasil'"><img class="img-fluid" src="../../assets/img/brasil.png" alt=""></span>
                    <p *ngSwitchCase="'France'"></p><span class="badge" *ngSwitchCase="'France'"><img class="img-fluid" src="../../assets/img/France.webp" alt=""></span>
                    <p *ngSwitchCase="'Belgium'"></p><span class="badge" *ngSwitchCase="'Belgium'"><img class="img-fluid" src="../../assets/img/belgium.png" alt=""></span>
                    <p *ngSwitchCase="'Singapore'"></p><span class="badge" *ngSwitchCase="'Singapore'"><img class="img-fluid" src="../../assets/img/singapore.png" alt=""></span>
                </div>
                <div class="bottone">
                    <button (click)="onClick(element.news)">
                        News
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-6 col-*-12 colonna"  *ngFor="let element of pro2">
        <mat-card [ngClass]="{'bg-warning': element.operatore === 'Difensore', 'bg-primary': element.operatore === 'Attaccante'}">
            <mat-card-content>
                <div class="immagini">
                    <img class="img-fluid" [src]="element.img" alt="img">
                </div>
                <div class="info">
                    <p>{{element.nickname}}</p>
                </div>
                <div class="info">
                    <p>{{element.eta}}</p>
                </div>
                <div class="info">
                    <p>{{element.operatore}}</p>
                </div>
                <div [ngSwitch]="element.nazione">
                    <p *ngSwitchCase="'Denmark'"></p><span class="badge" *ngSwitchCase="'Denmark'"><img class="img-fluid" src="../../assets/img/denmaRK.webp" alt=""></span>
                    <p *ngSwitchCase="'Japan'"></p><span class="badge" *ngSwitchCase="'Japan'"><img class="img-fluid" src="../../assets/img/JAPAN.png" alt=""></span>
                    <p *ngSwitchCase="'Taiwan'"></p><span class="badge" *ngSwitchCase="'Taiwan'"><img class="img-fluid" src="../../assets/img/TAIWAN.png" alt=""></span>
                    <p *ngSwitchCase="'Argentina'"></p><span class="badge" *ngSwitchCase="'Argentina'"><img class="img-fluid" src="../../assets/img/argentina.webp" alt=""></span>
                    <p *ngSwitchCase="'Usa'"></p><span class="badge" *ngSwitchCase="'Usa'"><img class="img-fluid" src="../../assets/img/usa.png" alt=""></span>
                </div>
                <div class="bottone">
                    <button (click)="onClick(element.news)">
                        News
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>


