<div>
  <div class="img">
    <img class="img-fluid" src="../assets/img/r6.png" alt="img/logo">
  </div>
  <div>
    <p class="paragrafo">
      Rainbow Six Siege è un FPS tattico di Ubisoft uscito nel 2015. I giocatori impersonano operatori speciali di unità élite globali, con abilità uniche. <br>Il gioco si focalizza sull'anti-terrorismo in scenari urbani, con due squadre che si alternano tra attacco e difesa. <br>La distruzione dell'ambiente è chiave, permettendo strategie creative. La comunicazione e la cooperazione sono essenziali per il successo, con un forte focus sulla competitività online. Il gioco riceve regolarmente aggiornamenti di contenuti per mantenere l'esperienza fresca.</p>
  </div> 
</div>
<app-classifica></app-classifica>