<div class="table-responsive">
    <table class="table-bordered">
        <thead>
            <tr>
                <th>Meme Number:</th>
                <th>Meme Name:</th>
                <th>Meme Image:</th>
                <th>Meme Description:</th>
                <th>Like number:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>{{meme[0].memename}}</td>
                <td><img class="img1" src="https://i.kym-cdn.com/entries/icons/mobile/000/039/281/brrr.jpg"></td>
                <td>{{meme[0].memed}}</td>
                <td><app-esercizio3-component2></app-esercizio3-component2></td>
            </tr>
            <tr>
                <td>2</td>
                <td>{{meme[1].memename}}</td>
                <td><img class="img2" src="https://i.kym-cdn.com/entries/icons/mobile/000/047/264/josh_hutcherson_whistle.jpg"></td>
                <td>{{meme[1].memed}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>